*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-backgroundColor: #ffffff;
    --secondary-backgroundColor: #f8f9fb;
    --heading-color:#272D37;
    --text-color: #5F6D7E;
}
body{
    font-family: "Inter",
        sans-serif;
    background-color: var(--main-backgroundColor);
    overflow-x: hidden;
}